Backup
Plugins/FellSky.core.dll
Plugins/FellSky.core.pdb
Plugins/FellSky.editor.dll
Plugins/FellSky.editor.pdb
Plugins/Gwen.dll
Plugins/Gwen.pdb
Plugins/FellSky.Common.core.dll
Plugins/FellSky.Common.core.pdb
Source/Code/Duality.Gwen/bin
Source/Code/Duality.Gwen/obj
Source/Code/FellSky/bin
Source/Code/FellSky/obj
Source/Code/FellSky.Editor/bin
Source/Code/FellSky.Editor/obj
Source/Code/FellSky.GfxTool/bin
Source/Code/FellSky.GfxTool/obj
Source/Code/FellSky.Common/bin
Source/Code/FellSky.Common/obj
Source/Packages/IconCache
Source/Code/Packages
Temp
logfile.txt
logfile*.txt
perflog*.txt
DesignTimeData.dat
UserData.dat
*.suo
EditorUserData.xml
