Backup
Plugins/FellSky.core.dll
Plugins/FellSky.core.pdb
Plugins/FellSky.editor.dll
Plugins/FellSky.editor.pdb
Plugins/Gwen.dll
Plugins/Gwen.pdb
Plugins/Duality.Gwen.core.dll
Plugins/Duality.Gwen.core.pdb
Source/Code/Duality.Gwen/bin
Source/Code/Duality.Gwen/obj
Source/Code/FellSky/bin
Source/Code/FellSky/obj
Source/Code/FellSky.Editor/bin
Source/Code/FellSky.Editor/obj
Source/Code/Gwen/bin
Source/Code/Gwen/obj
Source/Packages/IconCache
Temp
logfile.txt
logfile*.txt
perflog*.txt
DesignTimeData.dat
*.suo
EditorUserData.xml